<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-row items-center"
>
  <input
    type="text"
    placeholder="role"
    id="role"
    formControlName="role"
    (change)="onInputChange()"
    class="block p-5 text-sm text-gray-900 bg-transparent border border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
  />
  <button
    type="submit"
    [disabled]="!loginForm.get('role')?.value"
    class="bg-blue-400 p-5 text-white"
  >
    Login
  </button>
</form>
<div
  *ngIf="
    submittedOnce &&
    loginForm.get('role')?.hasError('required') &&
    loginForm.get('role')?.touched &&
    loginForm.get('role')?.invalid
  "
  class="text-red-500"
>
  Role is required.
</div>
<div
  *ngIf="
    submittedOnce &&
    loginForm.get('role')?.hasError('invalidRole') &&
    loginForm.get('role')?.touched &&
    loginForm.get('role')?.invalid
  "
  class="text-red-500"
>
  Please enter either user or admin.
</div>
